<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Demo</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
     crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
<body style="display: none;">
    <span id="status" style="visibility:hidden ;">{{status}}</span>
<br>
    <div style="display: block;" class="mainbox container">
        <div class="headbox" >
            <h2 style="font-family:'Courier New', Courier, monospace ;font-weight:800">  Text-Machine
                <span id="namespan">{{ name }}</span> </h2>
        </div>
        <div class="msgbox" id="messagebox"></div>
        <div class="txtbox">
            <textarea id="textarea" cols="30" rows="1" placeholder="Write your Message..."></textarea>
            <br>
            <button id="sendbtn" class="btn sendmsg"><i class="material-icons" style="font-size: 40px;
                font-weight: 900;">send</i></button>
        </div>
    </div>

    <script type="module" src="https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js""></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <script src="../client.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

            <!-- <div class="msg receive">
                <h4>Rname</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, earum!</p>
            </div>
            <div class="msg send">
                <h4>Sname</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed veniam voluptates laudantium itaque?</p>
            </div> -->